.ant-btn.ant-btn-block {
  margin-top: 10px;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.ant-btn .Check__Complete {
  display: none;
}
.ant-btn:hover .Check__Complete {
  display: inline-block;
  transition: 1s;
}
